In [1]:
import pandas as pd

df = pd.read_excel('Train_samsung.xlsx')
df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,Class
0,Male,Yes,0.0,Graduate,No,6000.0,2250.0,265.0,360.0,NaN,Semiurban,N
1,Male,Yes,0.0,Graduate,No,2958.0,2900.0,131.0,360.0,1.0,Semiurban,Y
2,Male,Yes,2.0,Graduate,No,6250.0,1695.0,210.0,360.0,1.0,Semiurban,Y
3,Male,Yes,0.0,Graduate,No,2083.0,3150.0,128.0,360.0,1.0,Semiurban,Y
4,Male,No,0.0,Graduate,No,4166.0,0.0,98.0,360.0,0.0,Semiurban,N
...,...,...,...,...,...,...,...,...,...,...,...,...
486,Male,Yes,2.0,Not Graduate,Yes,1875.0,1875.0,97.0,360.0,1.0,Semiurban,Y
487,Male,Yes,2.0,Graduate,No,11417.0,1126.0,225.0,360.0,1.0,Urban,Y
488,Female,No,0.0,Graduate,No,3237.0,0.0,30.0,360.0,1.0,Urban,Y
489,Female,NaN,NaN,Graduate,No,10047.0,0.0,NaN,240.0,1.0,Semiurban,Y
490,Male,Yes,NaN,Graduate,No,13650.0,0.0,NaN,360.0,1.0,Urban,Y

In [2]:
#kiểm tra missing data
df.isna().sum()

X1       12
X2        1
X3       11
X4        0
X5       24
X6        0
X7        0
X8       16
X9       12
X10      40
X11       0
Class     0
dtype: int64

In [3]:
df['X1'].value_counts()

Male      386
Female     93
Name: X1, dtype: int64

In [4]:
df['X1'].fillna('Male', inplace=True)
df['X1'].isna().sum()

0

In [5]:
df['X1'].replace('Male', 1, inplace=True)
df['X1'].replace('Female', 0, inplace=True)
df['X1']

0      1
1      1
2      1
3      1
4      1
      ..
486    1
487    1
488    0
489    0
490    1
Name: X1, Length: 491, dtype: int64

In [6]:
df['X2'].value_counts()

Yes    311
No     179
Name: X2, dtype: int64

In [7]:
df['X2'].fillna('Yes', inplace=True)
df['X2'].isna().sum()

0

In [8]:
df['X2'].replace('Yes', 1, inplace=True)
df['X2'].replace('No', 0, inplace=True)
df['X2']

0      1
1      1
2      1
3      1
4      0
      ..
486    1
487    1
488    0
489    1
490    1
Name: X2, Length: 491, dtype: int64

In [9]:
df['X3'].value_counts()

0.0    282
1.0     79
2.0     78
3+      41
Name: X3, dtype: int64

In [10]:
df['X3'].fillna(0.0, inplace=True)
df['X3'].replace('3+', 3, inplace=True)
df['X3'].isna().sum()

0

In [11]:
df['X5'].value_counts()

No     400
Yes     67
Name: X5, dtype: int64

In [13]:
df['X5'].fillna('No', inplace=True)
df['X5'].replace('Yes', 1, inplace=True)
df['X5'].replace('No', 0, inplace=True)
df['X5']

0      0
1      0
2      0
3      0
4      0
      ..
486    1
487    0
488    0
489    0
490    0
Name: X5, Length: 491, dtype: int64

In [14]:
df['X5'].value_counts()

0    424
1     67
Name: X5, dtype: int64

In [15]:
s = 0
for i in df['X8']:
    if(pd.isna(i)):
        continue
    else:
        s += i
s = s / (len(df['X8']) - df['X8'].isna().sum())
s = int(s + 0.5)
s

149

In [16]:
df['X8'].fillna(s, inplace=True)
df['X8'].isna().sum()

0

In [17]:
s = 0
for i in df['X9']:
    if(pd.isna(i)):
        continue
    else:
        s += i
s = s / (len(df['X9']) - df['X9'].isna().sum())
s = int(s + 0.5)
s

340

In [18]:
df['X9'].fillna(s, inplace=True)
df['X9'].isna().sum()

0

In [19]:
df['X10'].value_counts()

1.0    381
0.0     70
Name: X10, dtype: int64

In [20]:
df['X10'].fillna(1.0, inplace =True)
df['X10']

0      1.0
1      1.0
2      1.0
3      1.0
4      0.0
      ...
486    1.0
487    1.0
488    1.0
489    1.0
490    1.0
Name: X10, Length: 491, dtype: float64

In [21]:
df['X10'].isna().sum()

0

In [22]:
df.isna().sum()

X1       0
X2       0
X3       0
X4       0
X5       0
X6       0
X7       0
X8       0
X9       0
X10      0
X11      0
Class    0
dtype: int64

In [23]:
df['X4'].replace('Graduate', 1, inplace=True)
df['X4'].replace('Not Graduate', 0, inplace=True)
df['X4']

0      1
1      1
2      1
3      1
4      1
      ..
486    0
487    1
488    1
489    1
490    1
Name: X4, Length: 491, dtype: int64

In [24]:
df['X11'].value_counts()

Semiurban    191
Urban        159
Rural        141
Name: X11, dtype: int64

In [25]:
df['X11'].replace('Semiurban', 1, inplace=True)
df['X11'].replace('Urban', 2, inplace=True)
df['X11'].replace('Rural', 3, inplace=True)
df['X11'].value_counts()

1    191
2    159
3    141
Name: X11, dtype: int64

In [26]:
df['Class'].replace('Y', 1, inplace=True)
df['Class'].replace('N', 0, inplace=True)
df['Class'].value_counts()

1    342
0    149
Name: Class, dtype: int64

In [247]:
# df.to_excel('train.xlsx', index=False)

In [29]:
df_train = df.copy().sample(frac = 1, replace=True)
df_train.reset_index(inplace = True)
df_train.drop(['index'], axis=1, inplace=True)
X = df_train.drop('Class', axis=1)
Y = df_train['Class']
thread_point = int(0.8 * df_train.shape[0])
x_train, x_test = X[:thread_point], X[thread_point:]
y_train, y_test = Y[:thread_point], Y[thread_point:]

from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train, y_train)

model.score(x_test, y_test)

0.7171717171717171

In [30]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
  
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
  
print(accuracy_score(y_train, model.predict(x_train)))
print(accuracy_score(y_test, model.predict(x_test)))

1.0
0.9191919191919192

In [33]:
#Do DecisionTree cho tỉ lệ dự đoán cao hơn nên chọn DecisionTree để dự đoán
x_train = df.drop('Class', axis=1)
y_train = df['Class']
x_test = pd.read_excel('Test_samsung_noclass.xlsx')
x_train, y_train, x_test

(     X1  X2   X3  X4  X5       X6      X7     X8     X9  X10  X11
 0     1   1  0.0   1   0   6000.0  2250.0  265.0  360.0  1.0    1
 1     1   1  0.0   1   0   2958.0  2900.0  131.0  360.0  1.0    1
 2     1   1  2.0   1   0   6250.0  1695.0  210.0  360.0  1.0    1
 3     1   1  0.0   1   0   2083.0  3150.0  128.0  360.0  1.0    1
 4     1   0  0.0   1   0   4166.0     0.0   98.0  360.0  0.0    1
 ..   ..  ..  ...  ..  ..      ...     ...    ...    ...  ...  ...
 486   1   1  2.0   0   1   1875.0  1875.0   97.0  360.0  1.0    1
 487   1   1  2.0   1   0  11417.0  1126.0  225.0  360.0  1.0    2
 488   0   0  0.0   1   0   3237.0     0.0   30.0  360.0  1.0    2
 489   0   1  0.0   1   0  10047.0     0.0  149.0  240.0  1.0    1
 490   1   1  0.0   1   0  13650.0     0.0  149.0  360.0  1.0    2

 [491 rows x 11 columns],
 0      0
 1      1
 2      1
 3      1
 4      0
       ..
 486    1
 487    1
 488    1
 489    1
 490    1
 Name: Class, Length: 491, dtype: int64,
          X1   X2   X3        X4   X5       X6      X7     X8     X9  X10  \
 0      Male  Yes  0.0  Graduate   No   9083.0     0.0  228.0  360.0  1.0
 1      Male  Yes  0.0  Graduate   No   4310.0     0.0  130.0  360.0  NaN
 2      Male  Yes  2.0  Graduate   No   4167.0  1447.0  158.0  360.0  1.0
 3    Female   No  0.0  Graduate   No   2900.0     0.0   71.0  360.0  1.0
 4      Male   No  0.0  Graduate   No   2718.0     0.0   70.0  360.0  1.0
 ..      ...  ...  ...       ...  ...      ...     ...    ...    ...  ...
 118    Male  Yes  0.0  Graduate  NaN   3716.0     0.0   42.0  180.0  1.0
 119  Female   No  0.0  Graduate   No   2507.0     0.0   56.0  360.0  1.0
 120    Male  Yes  1.0  Graduate   No   2882.0  1843.0  123.0  480.0  1.0
 121    Male  Yes  2.0  Graduate  NaN   2500.0  1840.0  109.0  360.0  1.0
 122    Male  Yes  0.0  Graduate  NaN  63337.0     0.0  490.0  180.0  1.0

            X11
 0    Semiurban
 1    Semiurban
 2        Rural
 3        Rural
 4    Semiurban
 ..         ...
 118      Rural
 119      Rural
 120  Semiurban
 121      Urban
 122      Urban

 [123 rows x 11 columns])

In [34]:
x_test.isna().sum()

X1      1
X2      2
X3      4
X4      0
X5      8
X6      0
X7      0
X8      6
X9      2
X10    10
X11     0
dtype: int64

In [35]:
x_test['X1'].fillna('Male', inplace = True)
x_test['X1'].replace('Male', 1, inplace=True)
x_test['X1'].replace('Female', 0, inplace=True)
x_test['X1']

0      1
1      1
2      1
3      0
4      1
      ..
118    1
119    0
120    1
121    1
122    1
Name: X1, Length: 123, dtype: int64

In [36]:
x_test['X2'].fillna('Yes', inplace=True)
x_test['X2'].replace('Yes', 1, inplace=True)
x_test['X2'].replace('No', 0, inplace=True)
x_test['X2'].value_counts()

1    89
0    34
Name: X2, dtype: int64

In [37]:
x_test['X3'].fillna(0.0, inplace=True)
x_test['X3'].replace('3+', 3, inplace=True)
x_test['X3'].value_counts()

0.0    67
2.0    23
1.0    23
3.0    10
Name: X3, dtype: int64

In [38]:
x_test['X4'].replace('Graduate', 1, inplace=True)
x_test['X4'].replace('Not Graduate', 0, inplace=True)
x_test['X4'].value_counts()

1    98
0    25
Name: X4, dtype: int64

In [39]:
x_test['X5'].fillna('No', inplace=True)
x_test['X5'].replace('Yes', 1, inplace=True)
x_test['X5'].replace('No', 0, inplace=True)
x_test['X5'].value_counts()

0    108
1     15
Name: X5, dtype: int64

In [40]:
x_test['X8'].fillna(149, inplace=True)
x_test['X8'].value_counts()

149.0    7
110.0    6
120.0    5
95.0     4
112.0    2
        ..
74.0     1
155.0    1
136.0    1
167.0    1
490.0    1
Name: X8, Length: 88, dtype: int64

In [41]:
x_test['X9'].fillna(340, inplace=True)
x_test['X9'].value_counts()

360.0    107
180.0      7
480.0      3
300.0      3
340.0      2
84.0       1
Name: X9, dtype: int64

In [42]:
x_test['X10'].fillna(1.0, inplace =True)
x_test['X10'].value_counts()

1.0    104
0.0     19
Name: X10, dtype: int64

In [43]:
x_test['X11'].replace('Semiurban', 1, inplace=True)
x_test['X11'].replace('Urban', 2, inplace=True)
x_test['X11'].replace('Rural', 3, inplace=True)
x_test['X11'].value_counts()

2    43
1    42
3    38
Name: X11, dtype: int64

In [44]:
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [45]:
y_test = model.predict(x_test)
y_test = pd.DataFrame({'Class' : model.predict(x_test)})
y_test['Class'].replace(1, 'Y', inplace=True)
y_test['Class'].replace(0, 'N', inplace=True)
y_test

    Class
0       Y
1       Y
2       Y
3       N
4       Y
..    ...
118     Y
119     Y
120     N
121     Y
122     Y

[123 rows x 1 columns]

In [46]:
y_test.to_excel('predict.xlsx', index=False)